{% extends 'base.html' %}

{% block content %}
   
      
  <div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-md-2 text-center">
      </div>
      <div class="col-md-8 text-left">
        <h1 style="margin-top: 1.2em; margin-bottom: 0.9em;"> Terms of Service </h1>
        This ArXiv Writer Support is available for free in the hope that it will be useful to students and researchers. 
        There is no warranty of any kind for the service provided by this website. 
        By using this service you agree to temporarily upload your document to a remote server. 
        Your document will not be reviewed by the provider of this service and will be kept into the server only for the time 
        needed to perform the analysis. No data will be permanently stored at the server. 
        By using this service you declare not to violate any copyright laws of your country. The provider of this servise 
        cannot be held responsible for any of its illegal uses. 
      </div>   
      <div class="col-sm-2 text-center">
      </div>
    </div>
    <div class="row content">
    </div>
  </div>

{% endblock %}
